body{
    height: 100%;
    overflow: hidden;
    width: 100%; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: #f2eee3;
}

.backRight{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #f2eee3 url(https://forums.macrumors.com/attachments/monterey-mac-jpg.1788406/);
    background-position: 50% 50%;
}

.backLeft{
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #e74c3c url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-gMX5fS_rUqg%2FXfLBGokAzAI%2FAAAAAAAAjEY%2Fqs-2a28y3g4ruhktycDX2ApIUhhh01WMgCLcBGAsYHQ%2Fs2560%2Fmacos-mojave-dusk-mode-stock-el-2560x1440.jpg&f=1&nofb=1);
    background-size: cover;
    background-position: 50% 50%;
}

#back {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
}

#slidebox{
    width: 50%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0,0,0,0,25), 0 10px 10px rgba(0,0,0,0.22);
}

.topLayer{
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
}

.left{
    width: 50%;
    height: 100%;
    background: #2C3034;
    left: 0;
    position: absolute;
}

.right{
    width: 50%;
    height: 100%;
    background: #f2eee3;
    right: 0;
    position: absolute;
}

.content{
    width: 300px;
    margin: 0 auto;
    top: 30%;
    position: absolute;
    left: 50%;
    margin-left: -125px;
}

.content h1{
    color: #03A9F4;
    /* padding: 1px 20px; */
    width: 300px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    color: whitesmoke;
    line-height: 8px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    border: 10;
    outline: 0;
    margin: 15px 15px 15px -15px;
    transition: all 0.25s;
    text-align: center;
    position: center;
}

.Sign-Up{
    background-color: #2C3034; 
  border: none;
  color: whitesmoke;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 10%;
}

.Login{
    background-color: #2C3034; 
  border: none;
  color: whitesmoke;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.write{
    background-color: #f2eee3; 
  border: none;
  color: whitesmoke;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.form-group{
    width: 90%;
    margin-bottom: 0;
}

.content h2{
    color: #03A9F4;
    /* padding: 1px 20px; */
    width: 300px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    color: brown;
    line-height: 8px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    border: 10;
    outline: 0;
    margin: 15px 15px 15px -15px;
    transition: all 0.25s;
    text-align: center;
    position: center;
}

#goRight{
    margin-top: 10px;
}

#goLeft{
    margin-top: 10px;
}


button:hover{
    background: #0288D1;
    box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

.Off{
    background-color: #f2eee3; 
  border: none;
  color: brown;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}


.Submit{
    background-color: #f2eee3; 
  border: none;
  color: brown;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.right .off:hover{
    background: #eee;
    color: #03A9F4;
    box-shadow: none;
}
.left .off:hover{
    background: #363A3D;
    color: #03A9F4;
    box-shadow: none;
}

input{
    background: transparent;
    width: 90%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #45494C;
    font-size: 14px;
    color: #959595;
    padding: 20px 0;
    margin-top: 20px;

}

.content-button{
    text-align: 200%;
}